@{ Layout = "_Layout"; }
@using UnSugarCodedCS.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css"/>
    <script type="text/javascript">
        $(function () {
            $("#txtFood").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Home/AutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCustomer").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>

    <table>
      <tr>
        <th>Breakfast</th>
        <th>Lunch</th>
        <th>Dinner</th>
        <th>Snack</th>
      </tr>
      <tr>
        <td>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <input type="text" id="txtFoodBreakfast" name="food"/>
            <label for="txtFoodBreakfast">Breakfast food:</label>
            <input type="hidden" id="hfCustomer" name="breakfastFoodId"/>
            <br /><br />
            <input type="submit" id="btnSubmit" value="Submit"/>
            <br /><br />
            @ViewBag.Message
        }

        <form action="/logins/@Model.GetId()/update" method="post">
          <label for="breakfastSugar">Sugar at breakfast</label>
          <input type="text" name="breakfastSugar" value="@Model.GetBreakfastSugar()">
          <button type="submit">Submit</button>
        </form>
      </td>
      <td>

        <td>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
          <input type="text" id="txtFoodLunch" name="food"/>
          <label for="txtFoodLunch">Lunch food:</label>
          <input type="hidden" id="hfCustomer" name="lunchFoodId"/>
          <br /><br />
          <input type="submit" id="btnSubmit" value="Submit"/>
          <br /><br />
          @ViewBag.Message
        }

        <form action="/logins/@Model.GetId()/update" method="post">
          <label for="lunchSugar">Sugar at lunch</label>
          <input type="text" name="lunchSugar" value="@Model.GetLunchSugar()">
          <button type="submit">Submit</button>
        </form>
      </td>

        <td>
          @using (Html.BeginForm("Index", "Home", FormMethod.Post))
          {
            <input type="text" id="txtFoodDinner" name="food"/>
            <label for="txtFoodDinner">Dinner food:</label>
            <input type="hidden" id="hfCustomer" name="dinnerFoodId"/>
            <br /><br />
            <input type="submit" id="btnSubmit" value="Submit"/>
            <br /><br />
            @ViewBag.Message
          }

          <form action="/logins/@Model.GetId()/update" method="post">
            <label for="dinnerSugar">Sugar at dinner</label>
            <input type="text" name="dinnerSugar" value="@Model.GetDinnerSugar()">
            <button type="submit">Submit</button>
          </form>
        </td>

        <td>
          @using (Html.BeginForm("Index", "Home", FormMethod.Post))
          {
            <input type="text" id="txtFoodSnack" name="food"/>
            <label for="txtFoodSnack">Snack food:</label>
            <input type="hidden" id="hfCustomer" name="snackFoodId"/>
            <br /><br />
            <input type="submit" id="btnSubmit" value="Submit"/>
            <br /><br />
            @ViewBag.Message
          }

          <form action="/logins/@Model.GetId()/update" method="post">
            <label for="snackSugar">Sugar at snack</label>
            <input type="text" name="snackSugar" value="@Model.GetSnackSugar()">
            <button type="submit">Submit</button>
          </form>
        </td>
        </tr>
        </table>
    }
</body>
</html>
